* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}


h1 {
    color: #E53170;
    margin-top: 30px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;

}

.col {
    float: left;
    width: calc(100% / 3 - 20px);
    margin-top: 30px;
    margin-right: 20px;
}

img {
    height: 100%;
    padding-right: 20px;
    vertical-align: middle;
}

#testo {
    display: inline-block;
    vertical-align: middle;
}

.card {
    background-color: black;
    color: white;
    text-align: left;
    height: 100px;
    min-width: 350px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}